<a
mat-icon-button
class="close-button"
[mat-dialog-close]="true"
matTooltip="Fermer"
>
<mat-icon>close</mat-icon>
</a>
<h2 class="font-medium" mat-dialog-title>Import File</h2>
<form enctype="multipart/form-data" [class.hidden]="isLoading">
  <div fxLayout="row wrap" class="align-items-center">
    <div class="d-flex align-items-center m-b-15">
      <img class="mat-card-avatar" [src]="imagePreview" (click)="downloadFile()"/>
      <button
        mat-raised-button
        color="primary"
        class="m-l-15 input-file-button"
      >
        <input
          type="file"
          accept=".csv,application/vnd,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          (change)="onFileChange($event.target.files)"
        />
      </button>
    </div>
    <span class="legend">
      Please choose a file in Excel (.xlsx or .xls) or CSV (.csv) format. The file must contain first name, last name, email, department, function and role  </span>
    <div class="legend">
      You can download the excel file to fill out
      <a href="javascript:void(0);" (click)="downloadFile()" class="link-file"> Click here </a>
    </div>
    <mat-error *ngIf="fileError"> Format de fichier invalide. Veuillez sélectionner un fichier Excel.</mat-error>
    <mat-error *ngIf="noFileError"> Veuillez sélectionner un fichier Excel.</mat-error>
  </div>
  <div align="end" fxLayoutGap="10px" class="buttons">
    <button mat-button mat-flat-button color="primary" (click)="onSubmit()">
      Import
    </button>
    <button mat-button type="button" class="canceled" (click)="closeDialog()">
      Cancel
    </button>
  </div>
</form>
